footer{
    position: relative; 
    background-image:url(../../build/img/banner.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .redes{
        padding: $separacion5 0;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .icono{
        display: inline;
        width: 4rem;
    }

}

.creditos{
    p{
        text-align: center;
        color: $blanco;
        padding-bottom: $separacion5;
        margin: 0;
    }
}