.contenido-techno{


    h2{
        margin-top: $separacion5;
        text-align: center;
    }

    .cards{
        display: grid;
        margin: 0 auto;

        @include tablet{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
       
    }

    .single-card{
        display: block;
        margin: 2rem auto;
        border-radius: 1rem;
        margin-bottom: 2rem;
        
        img{
            display: block;
            margin: 0 auto;
        }
    }

    figcaption{
        text-align: center;
        font-size: 2rem;
        font-weight: $black;
    }
}